.address {
    display: none; 
    &--footer {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $main_reg;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .address {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
        &--on-white {
            color: #B3B3BA;
        }
        &::before {
            content:'';
            margin: 6px;
            border-radius: 50px;
            width: 6px;
            height: 6px;
            background: #E6E6F0;
        }
        &--footer {
            color: $main_reg;
            padding-bottom: 0;
            &::before {
                display: none;
            }
        }  
    }
}