.map {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $reg_blue;
    text-decoration: none;
    padding-bottom: 21px;
}

@media (min-width: 768px) {
    .map {
        padding-bottom: 0;
        &::before {
            content:'';
            margin: 6px;
            border-radius: 50px;
            width: 6px;
            height: 6px;
            background: $grey_text;
        }
    }
}


