$main_reg: #323264;
$main_alt: #46466E;
$main_soft: #686887;
$red: #F0145A;
$reg_blue: #24A3FF;
$hover_blue: #0085FF;
$active_blue: #006CCF;
$grey_bg: #F5F5FA;
$grey_alt: #EDEDF7;
$grey_text: #B3B3BA;
$grey_sep: #E6E6F0;
